---
import ButtonMore from '@components/modules/ButtonMore.astro';
import SwiperPagination from '@components/modules/swiper/SwiperPagination.astro';
import SwiperControl from '@components/modules/swiper/SwiperControl.astro';

interface Props {
	isSlider?: boolean;
	isVideo?: boolean;
	isImage?: boolean;
	isTitle?: boolean;
}

const {
    isSlider,
    isVideo,
    isImage = true,
    isTitle = true,
} = Astro.props;

const galleryImages = [
	{
		image: 'img/home-bg.jpg',
		image2x: 'img/home-bg@2x.jpg 2x',
		imageMobile: 'img/home-bg-575.jpg',
		imageMobile2x: 'img/home-bg-575@2x.jpg 2x',
	},
	{
		image: 'img/home-bg-summer.jpg',
		image2x: 'img/home-bg-summer@2x.jpg 2x',
		imageMobile: 'img/home-bg-summer-575.jpg',
		imageMobile2x: 'img/home-bg-summer-575@2x.jpg 2x',
	},
];
---

<section class="section home-section">
	{
		isImage ?
		<div class="home-section__bg js-home-background is-active" data-season="winter">
			<div class="home-section__bg-item">
				<div class="home-section__bg-parallax js-home-parallax">
					<div class="home-section__bg-image" style="background-image: url('img/home-bg.jpg')"></div>
				</div>
			</div>
		</div>
		<div class="home-section__bg js-home-background" data-season="summer">
			<div class="home-section__bg-item">
				<div class="home-section__bg-parallax js-home-parallax">
					<div class="home-section__bg-image" style="background-image: url('img/home-bg-summer.jpg')"></div>
				</div>
			</div>
		</div>
		: ''
	}

	{
		isSlider ?
		<div class="home-section__slider swiper js-home-slider">
			<div class="swiper-wrapper">
				{galleryImages.map((item) => (
					<div class="home-section__slider-item swiper-slide">
						<div class="home-section__slider-image-box" >
                            <picture class="home-section__slider-picture" data-swiper-parallax-x="85%" >
                                <source media="(max-width: 575px)" data-srcset={`${item.imageMobile} 1x, ${item.imageMobile2x}`} />
                                <img class="home-section__slider-image lazy" data-src={item.image} data-srcset={item.image2x} alt="" width="1920" height="1080" />
                            </picture>
						</div>
                        <div class="home-section__inner">
                            <div class="home-section__content">
                                <div class="home-section__content-inner">
                                    <div class="home-section__container container">
                                        <div class="home-section__column">
                                            <div class="home-section__title-wrapper" data-swiper-parallax-x="120%">
                                                <div class="home-section__title" >
                                                    Подберите лучший курорт для отдыха
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				))}
			</div>
			<SwiperPagination  type='line' class="home-section__slider-pagination js-home-slider-pagination"></SwiperPagination>
		</div>
		: ''
	}

	{
		isVideo ?
		<div class="home-section__video-bg">
            <video autoplay muted loop>
                <source src="video/video.mp4" type="video/mp4" />
            </video>
		</div>
		: ''
	}

	<div class="home-section__inner">
		<div class="home-section__content">
			<div class="home-section__content-inner">
				<div class="home-section__container container">
					<div class="home-section__column">
						{
                            isTitle ?
                            <h1 class="home-section__title">Подберите лучший курорт для отдыха</h1>
                            : ''
                        }
					</div>
					<div class="home-section__column">
						<ButtonMore class="home-section__button js-scroll-to" direction="down" noBorder={true} style='light' data-goto="#choose_chalet">Подобрать шале</ButtonMore>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
