---
import Icon from '@components/modules/Icon.astro';
import Button from '@components/modules/Button.astro';
import ButtonMore from '@components/modules/ButtonMore.astro';
import Input from '@components/modules/Input.astro';

const pressLogos = [
	{
		image: "img/press-logos/elitetraveler.png",
		image2x: "img/press-logos/elitetraveler@2x.png",
		width: 206,
		height: 57
	},
	{
		image: "img/press-logos/robbreport.png",
		image2x: "img/press-logos/robbreport@2x.png",
		width: 206,
		height: 41
	},
	{
		image: "img/press-logos/forbes.png",
		image2x: "img/press-logos/forbes@2x.png",
		width: 206,
		height: 37
	}
]

const menu = ["Курорты", "Шале", "Коллекции", "Отели", "Журнал", "Контакты"]
---

<footer class="footer js-footer">
	<div class="footer__container container">
		<div class="footer__section">
			<div class="footer__press">
				<div class="footer__press-items">
					{pressLogos.map((item) => (
						<div class="footer__press-item">
							<img class="footer__press-logo lazy" data-src={item.image} data-srcset={item.image2x} width={item.width} height={item.height} alt="" />
						</div>
					))}
				</div>
				<div class="footer__press-button-wrapper">
					<ButtonMore class="footer__press-button" type="link" style="light" noBorder={true}>Пресса о нас</ButtonMore>
				</div>
			</div>
		</div>
		<div class="footer__section anim anim_slideUp"  data-animation>
			<div class="footer__subscribe">
				<div class="footer__row footer__subscribe-row">
					<div class="footer__column">
						<h3 class="footer__subscribe-title">Будьте в&nbsp;курсе</h3>
						<div class="footer__subscribe-text">
							<p>Подпишитесь на&nbsp;рассылку, и&nbsp;мы&nbsp;вышлем вам лучшие предложения</p>
						</div>
					</div>
					<div class="footer__column">
						<form action="#" class="footer__subscribe-form form js-subscribe-form is-active" autocomplete="off">
							<div class="footer__subscribe-field">
								<Input class="footer__subscribe-input js-subscribe-form-email" placeholder="E-mail" name='email' required></Input>
								<div class="footer__subscribe-agreement">Нажимая на&nbsp;кнопку вы&nbsp;соглашаетесь с&nbsp;политикой конфиденциальности</div>
								<button type="submit" class="footer__subscribe-submit" aria-label="Подписаться" title="Подписаться">
									<Icon class="footer__subscribe-submit-icon" name="arrow"></Icon>
								</button>
							</div>
						</form>
						<div class="footer__subscribe-success js-subscribe-success">
							<div class="footer__subscribe-success-text">Спасибо за&nbsp;подписку, мы&nbsp;выслали письмо для&nbsp;подтверждения почты</div>
							<Button class="footer__subscribe-success-back js-subscribe-back" style="outline">Подписаться на&nbsp;другой адрес</Button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__section anim anim_slideUp" data-animation>
			<div class="footer__row footer__row_main">
				<div class="footer__column">
					<div class="footer__description-wrapper">
						<a href="/" class="footer__logo logo" aria-label="Dolce Villa">
							<svg class="footer__logo-image logo__image" width="193" height="156" viewBox="0 0 193 156" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g>
								<path d="M0.517578 138.627L1.85509 135.532V123.765L0.517578 120.682V120.492H8.46737C10.802 120.492 12.8263 120.82 14.5374 121.474C16.2485 122.127 17.5769 123.136 18.5198 124.497C19.4627 125.861 19.9327 127.571 19.9327 129.636C19.9327 131.702 19.4687 133.415 18.5379 134.782C17.6071 136.149 16.2906 137.164 14.5826 137.826C12.8745 138.489 10.8381 138.82 8.46737 138.82H0.517578V138.63V138.627ZM8.92525 137.992C10.1754 137.992 11.1424 137.706 11.8292 137.134C12.5161 136.562 12.9981 135.688 13.2752 134.517C13.5523 133.346 13.6879 131.774 13.6879 129.805C13.6879 127.836 13.5403 126.138 13.2421 124.915C12.9438 123.693 12.4468 122.79 11.7509 122.202C11.055 121.615 10.0911 121.323 8.85898 121.323H7.73836V137.992H8.92224H8.92525Z" fill="white"/>
								<path d="M27.1572 137.919C25.6841 137.115 24.5394 136.001 23.723 134.571C22.9067 133.141 22.5 131.512 22.5 129.687C22.5 127.863 22.9067 126.231 23.723 124.798C24.5394 123.364 25.6841 122.241 27.1572 121.428C28.6303 120.618 30.3203 120.212 32.2211 120.212C34.1219 120.212 35.8209 120.615 37.3121 121.422C38.8032 122.229 39.963 123.346 40.7975 124.777C41.6289 126.207 42.0446 127.827 42.0446 129.633C42.0446 131.44 41.6349 133.117 40.8155 134.556C39.9962 135.995 38.8394 137.115 37.3512 137.919C35.8601 138.72 34.1521 139.124 32.2241 139.124C30.2962 139.124 28.6333 138.723 27.1602 137.919H27.1572ZM34.9413 136.131C35.5046 134.689 35.7878 132.539 35.7878 129.687C35.7878 126.836 35.5107 124.65 34.9534 123.205C34.3961 121.763 33.4863 121.04 32.2211 121.04C30.9559 121.04 30.1003 121.763 29.5581 123.211C29.0159 124.659 28.7417 126.818 28.7417 129.687C28.7417 132.557 29.0159 134.689 29.5641 136.131C30.1124 137.573 30.998 138.296 32.2211 138.296C33.4441 138.296 34.375 137.573 34.9413 136.131Z" fill="white"/>
								<path d="M44.3027 138.627L45.6402 135.532V123.765L44.3027 120.67V120.492H53.1201V120.67L51.5265 123.765V137.989H54.7257L59.401 133.43H59.5275L58.9281 138.817H44.3027V138.627Z" fill="white"/>
								<path d="M66.6364 137.952C65.085 137.173 63.8709 136.086 62.9913 134.692C62.1117 133.3 61.6719 131.711 61.6719 129.928C61.6719 128.146 62.0936 126.414 62.9341 124.936C63.7745 123.458 64.9675 122.302 66.5128 121.467C68.0582 120.63 69.8416 120.212 71.8629 120.212C73.8842 120.212 75.996 120.468 78.2462 120.977L78.6529 126.655H78.3487C78.0685 125.74 77.6317 124.849 77.0413 123.988C76.4508 123.127 75.7459 122.419 74.9265 121.868C74.1072 121.317 73.2336 121.04 72.3087 121.04C70.8387 121.04 69.7391 121.811 69.0101 123.352C68.2781 124.894 67.9136 127.053 67.9136 129.829C67.9136 131.62 68.0883 133.15 68.4438 134.421C68.7963 135.691 69.3023 136.655 69.9591 137.311C70.6158 137.97 71.402 138.299 72.3087 138.299C73.2155 138.299 74.0951 138.022 74.9145 137.471C75.7339 136.92 76.4418 136.212 77.0352 135.351C77.6287 134.49 78.0685 133.599 78.3487 132.683H78.6529L78.2462 138.362C77.0654 138.624 76.002 138.82 75.0561 138.94C74.1102 139.063 73.0438 139.124 71.8659 139.124C69.9289 139.124 68.1847 138.732 66.6364 137.952Z" fill="white"/>
								<path d="M81.6934 138.627L83.0309 135.532V123.765L81.6934 120.682V120.492H96.7404V125.879H96.5868L92.5351 121.32H88.9172V128.962H90.9295L93.8093 126.86H94.0654V132.298H93.8093L90.9295 129.79H88.9172V137.992H93.1225L97.7978 133.433H97.9243L97.3248 138.82H81.6934V138.63V138.627Z" fill="white"/>
								<path d="M108.917 123.717L106.98 120.7V120.495H117.337V120.7L115.298 123.78L118.825 133.701L122.711 123.756L120.636 120.7V120.495H125.832V120.7L123.603 123.756L117.641 138.82H114.813L108.914 123.717H108.917Z" fill="white"/>
								<path d="M127.906 138.627L129.244 135.547V123.768L127.906 120.685V120.495H136.456V120.685L135.13 123.768V135.547L136.456 138.627V138.817H127.906V138.627Z" fill="white"/>
								<path d="M139.174 138.627L140.511 135.532V123.765L139.174 120.67V120.492H147.991V120.67L146.398 123.765V137.989H149.597L154.272 133.43H154.399L153.799 138.817H139.174V138.627Z" fill="white"/>
								<path d="M156.621 138.627L157.959 135.532V123.765L156.621 120.67V120.492H165.438V120.67L163.845 123.765V137.989H167.044L171.719 133.43H171.846L171.246 138.817H156.621V138.627Z" fill="white"/>
								<path d="M173.735 138.627L175.941 135.595L180.45 123.84L178.679 120.682V120.492H185.303L191.138 135.532L192.997 138.627V138.817H182.932V138.627L184.83 135.559L184.041 133.37H177.67L176.841 135.547L179.197 138.627V138.817H173.732V138.627H173.735ZM183.749 132.539L180.959 124.783L177.992 132.539H183.752H183.749Z" fill="white"/>
								<path d="M94.461 97.1485C114.756 97.1485 131.264 80.6455 131.264 60.3638C131.264 40.0821 114.753 23.5791 94.461 23.5791C74.1693 23.5791 57.6582 40.0821 57.6582 60.3638C57.6582 80.6455 74.1693 97.1485 94.461 97.1485ZM94.461 29.4294C111.526 29.4294 125.408 43.3068 125.408 60.3608C125.408 77.4148 111.523 91.2952 94.461 91.2952C77.3986 91.2952 63.5144 77.4178 63.5144 60.3608C63.5144 43.3038 77.3956 29.4294 94.461 29.4294Z" fill="white"/>
								<path d="M23.6668 62.1824C26.8931 64.823 28.065 69.24 28.3813 73.3981C28.6976 77.5532 28.3361 81.8047 29.3332 85.8544C31.7522 95.7122 43.0156 102.424 52.8422 99.8493C56.0263 99.0213 58.9363 97.3954 62.1144 96.5101C65.2744 95.637 68.9918 95.64 71.48 97.7717L74.6491 101.641C75.5016 97.7868 72.0313 94.1014 68.2176 93.0205C64.4159 91.9546 60.3702 92.6862 56.4269 92.9632C50.8178 93.3456 44.7026 92.5809 40.6027 88.7329C36.1563 84.5627 35.2044 77.6646 36.6624 71.7542C38.1235 65.8407 41.6088 60.6739 45.0249 55.6185C40.5876 57.0367 36.792 60.2825 34.6833 64.4346C35.3249 59.4033 30.8515 54.661 25.8267 54.0498C26.6341 55.1217 27.2757 56.2839 27.598 57.5726C26.3388 55.9286 24.5193 54.7423 22.5191 54.2244C18.0155 55.191 14.2018 58.9998 12.8281 63.4831C14.729 59.7736 20.4435 59.5448 23.6698 62.1884L23.6668 62.1824ZM30.5171 64.564C30.6647 63.0736 30.6075 61.5681 30.3665 60.0837C34.8881 68.6679 31.9992 79.4863 35.8882 88.3655C39.4911 96.5433 49.0013 96.3385 49.0013 96.3385C45.1966 96.8112 41.2142 95.7634 38.1355 93.4721C32.7041 89.4133 32.1107 83.2831 31.7733 77.0173C31.3907 69.8994 28.9084 61.9355 21.5461 59.2256C25.2363 58.9878 28.9627 61.2068 30.5171 64.567V64.564Z" fill="white"/>
								<path d="M0.898187 112.531C1.14822 110.002 1.50971 109.234 1.88325 108.171C2.99785 104.995 5.13667 103.595 8.50456 102.577C11.7218 101.602 14.8728 102.673 17.7888 104.019C23.9101 106.838 30.1277 110.276 36.8665 111.703C44.735 113.365 50.2778 110.631 56.8389 106.521C60.264 104.363 64.4182 101.406 68.738 102.685C66.4817 101.159 63.4301 101.433 60.9117 102.451C58.3813 103.468 56.1792 105.13 53.7602 106.368C47.157 109.749 38.8909 109.653 32.372 106.133C28.5613 104.086 25.3711 100.99 21.4791 99.1205C17.4364 97.1815 12.6225 96.6997 8.42623 98.2684C4.22993 99.8492 0.807815 103.616 0.117969 108.03C-0.129049 109.569 -0.020602 111.261 0.9012 112.525L0.898187 112.531ZM22.9732 101.602C25.0217 102.785 26.1905 105.176 28.3504 106.139C24.4855 105.302 21.226 102.481 17.5659 101.023C16.7405 100.692 15.8609 100.322 14.9662 100.06C14.7041 99.9907 14.43 99.9214 14.1679 99.8673C13.701 99.7709 11.4989 99.2891 11.2097 99.4818C12.4749 98.6448 18.8583 99.2199 22.9702 101.599L22.9732 101.602Z" fill="white"/>
								<path d="M188.804 108.036C188.117 103.622 184.692 99.855 180.495 98.2743C176.299 96.7056 171.485 97.1873 167.443 99.1264C163.55 100.996 160.36 104.088 156.55 106.139C150.031 109.659 141.765 109.755 135.161 106.374C132.739 105.136 130.54 103.474 128.01 102.456C125.491 101.439 122.44 101.165 120.184 102.691C124.503 101.412 128.658 104.368 132.083 106.527C138.644 110.637 144.187 113.374 152.055 111.709C158.794 110.279 165.011 106.843 171.133 104.025C174.049 102.679 177.2 101.604 180.417 102.583C183.788 103.601 185.924 105.001 187.038 108.177C187.412 109.24 187.77 110.008 188.023 112.537C188.945 111.273 189.054 109.58 188.807 108.042L188.804 108.036ZM177.703 99.4847C177.414 99.292 175.215 99.7737 174.745 99.8701C174.483 99.9243 174.208 99.9935 173.946 100.063C173.052 100.325 172.172 100.695 171.347 101.026C167.69 102.484 164.427 105.302 160.562 106.142C162.722 105.178 163.891 102.788 165.939 101.604C170.051 99.2258 176.435 98.6477 177.7 99.4877L177.703 99.4847Z" fill="white"/>
								<path d="M9.06431 86.61C5.72052 87.6699 2.98523 90.5152 2.06343 93.9115C5.2807 91.271 9.57341 90.3496 13.7275 89.9522C15.2277 89.8137 16.752 89.7173 18.1558 89.1543C22.075 87.6006 21.8972 82.473 19.9301 79.3386C19.1589 78.1011 17.9781 77.1948 16.8755 76.2463C14.7698 74.4036 12.8991 72.302 11.3447 69.9776C11.7845 73.401 12.637 76.7552 13.9023 79.9588C10.9862 80.7567 7.79608 79.2573 5.9103 76.9057C4.02753 74.5542 3.25635 71.4891 2.96716 68.4932C1.71399 72.0401 0.66868 75.8489 1.41275 79.5463C2.16887 83.2317 5.29275 86.6943 9.06129 86.613L9.06431 86.61ZM8.5281 82.3616C10.0403 83.4756 11.9382 84.1501 13.8089 83.9002C14.3451 83.8309 14.9084 83.6804 15.3211 83.3221C15.8573 82.8554 16.1043 82.1267 16.1194 81.4101C16.1345 80.6965 15.9417 80.007 15.7609 79.3205C17.3967 81.0669 18.8155 84.6559 15.9387 85.7278C13.8631 86.4986 11.4562 85.8242 9.66679 84.5054C7.87741 83.1986 6.60014 81.3168 5.43132 79.4319C5.16924 79.0194 4.89511 78.5798 4.89511 78.0981C5.84403 79.721 7.01285 81.2475 8.52508 82.3586L8.5281 82.3616Z" fill="white"/>
								<path d="M40.9342 46.5828C44.0942 44.2975 47.9411 43.1774 51.7578 42.3885C56.9994 41.2956 61.3012 39.4167 63.6117 34.2379C65.6662 29.6342 66.6272 23.9495 65.0276 19.0898C65.7897 22.2483 64.1359 25.8645 61.5964 28.0775C58.6322 30.679 54.7221 31.8743 51.0439 33.3045C47.3687 34.7347 43.6002 36.6527 41.5999 40.0581C43.0037 36.1077 44.9256 32.332 47.2693 28.8604C45.4739 30.4291 43.6996 32.0339 41.865 33.5574C38.958 35.9662 37.5603 39.3053 36.6355 42.9064C36.3041 41.3678 36.3553 39.7811 36.5541 38.2123C35.1262 39.5131 33.8249 40.9282 33.0205 42.6565C30.3244 48.4676 34.8611 50.6235 35.4576 56.0763C36.5632 51.4214 37.8826 48.7898 40.9372 46.5858L40.9342 46.5828ZM47.2392 37.3663C48.9774 36.5623 57.0657 34.0151 61.021 30.956C59.6715 33.9428 56.6801 37.1676 53.2369 37.4355C54.2009 37.7095 55.2251 37.7155 56.1861 37.4626C53.9961 38.8627 51.3511 39.2873 48.7936 39.766C47.3717 40.043 45.9348 40.332 44.5792 40.8529C43.6152 41.2293 42.3952 41.8917 41.5879 43.1202C41.7988 42.6625 43.6032 39.0524 47.2422 37.3663H47.2392Z" fill="white"/>
								<path d="M154.391 64.4279C152.282 60.2758 148.487 57.03 144.049 55.6118C147.465 60.6642 150.954 65.834 152.412 71.7475C153.873 77.661 152.921 84.559 148.472 88.7262C144.372 92.5742 138.256 93.339 132.647 92.9566C128.701 92.6826 124.658 91.9479 120.857 93.0138C117.043 94.0947 113.573 97.7801 114.425 101.634L117.594 97.765C120.082 95.6333 123.797 95.6303 126.96 96.5035C130.138 97.3887 133.048 99.0146 136.232 99.8426C146.059 102.417 157.322 95.7056 159.741 85.8477C160.738 81.798 160.377 77.5496 160.693 73.3915C161.009 69.2364 162.181 64.8163 165.407 62.1757C168.634 59.5351 174.348 59.7639 176.249 63.4704C174.875 58.9901 171.062 55.1783 166.558 54.2117C164.558 54.7296 162.741 55.9159 161.479 57.5599C161.802 56.2712 162.443 55.109 163.25 54.0371C158.226 54.6483 153.755 59.3876 154.394 64.4219L154.391 64.4279ZM158.705 60.0831C158.464 61.5675 158.407 63.0729 158.554 64.5634C160.109 61.2062 163.835 58.9871 167.525 59.222C160.16 61.9318 157.681 69.8988 157.298 77.0136C156.958 83.2794 156.367 89.4097 150.936 93.4684C147.857 95.7598 143.875 96.8046 140.07 96.3349C140.07 96.3349 149.58 96.5396 153.183 88.3619C157.072 79.4826 154.183 68.6673 158.705 60.0801V60.0831Z" fill="white"/>
								<path d="M172.193 76.2464C171.094 77.1949 169.91 78.1012 169.139 79.3387C167.172 82.4731 166.994 87.6007 170.913 89.1543C172.317 89.7174 173.844 89.8137 175.341 89.9522C179.496 90.3497 183.788 91.271 187.006 93.9116C186.084 90.5153 183.345 87.6699 180.005 86.6101C183.773 86.6914 186.897 83.2288 187.653 79.5434C188.397 75.846 187.352 72.0371 186.099 68.4902C185.81 71.4861 185.041 74.5543 183.156 76.9028C181.273 79.2544 178.08 80.7508 175.164 79.9559C176.429 76.7523 177.281 73.3981 177.721 69.9746C176.167 72.2991 174.296 74.4007 172.19 76.2434L172.193 76.2464ZM175.26 83.9033C177.131 84.1502 179.029 83.4787 180.541 82.3647C182.053 81.2506 183.222 79.7241 184.171 78.1042C184.171 78.5859 183.897 79.0255 183.635 79.438C182.466 81.3229 181.186 83.2047 179.399 84.5115C177.61 85.8303 175.203 86.5047 173.127 85.7339C170.253 84.662 171.669 81.073 173.305 79.3266C173.127 80.0131 172.935 80.7026 172.947 81.4162C172.962 82.1298 173.209 82.8585 173.745 83.3282C174.158 83.6865 174.721 83.837 175.257 83.9063L175.26 83.9033Z" fill="white"/>
								<path d="M137.315 42.3876C141.132 43.1765 144.976 44.2966 148.139 46.5819C151.193 48.7859 152.513 51.4175 153.618 56.0724C154.215 50.6196 158.751 48.4637 156.055 42.6526C155.254 40.9243 153.95 39.5122 152.522 38.2084C152.721 39.7771 152.772 41.3639 152.44 42.9025C151.516 39.3044 150.118 35.9623 147.211 33.5535C145.376 32.033 143.602 30.4252 141.807 28.8564C144.147 32.3281 146.069 36.1038 147.476 40.0542C145.476 36.6488 141.71 34.7308 138.032 33.3006C134.357 31.8704 130.447 30.6751 127.479 28.0736C124.937 25.8606 123.286 22.2474 124.048 19.0859C122.449 23.9456 123.407 29.6303 125.464 34.234C127.775 39.4158 132.076 41.2916 137.318 42.3846L137.315 42.3876ZM141.834 37.3654C145.473 39.0515 147.277 42.6586 147.488 43.1193C146.681 41.8908 145.458 41.2284 144.497 40.852C143.141 40.3312 141.704 40.0421 140.282 39.7651C137.725 39.2864 135.08 38.8618 132.89 37.4617C133.851 37.7146 134.875 37.7086 135.839 37.4346C132.393 37.1667 129.404 33.9419 128.055 30.9551C132.007 34.0142 140.096 36.5615 141.837 37.3654H141.834Z" fill="white"/>
								<path d="M102.708 19.0834L105.926 6.86194L99.5031 10.3667L94.4543 0L89.4205 10.3667L82.998 6.86194L86.2033 19.0834H102.708ZM102.049 11.824C101.609 13.3355 101.169 14.8349 100.714 16.3464C100.699 15.0397 99.8194 13.763 98.5964 13.3234C99.7532 12.8296 100.895 12.3328 102.049 11.824ZM94.4573 5.6666C98.021 17.337 94.4573 16.4849 94.4573 16.4849C94.4573 16.4849 90.5924 17.337 94.4573 5.6666ZM90.0411 13.3234C88.7879 13.763 87.8963 15.0698 87.9234 16.3886C87.4835 14.862 87.0166 13.3505 86.5768 11.824C87.7336 12.3328 88.8873 12.8266 90.0441 13.3234H90.0411Z" fill="white"/>
								<path d="M78.3757 21.1793C79.8247 20.0653 80.4061 18.1052 80.3067 16.2805C80.2073 14.4559 79.5265 12.7216 78.8517 11.0234C78.9029 14.5733 76.731 16.7713 74.0619 19.1138C73.6623 18.2166 73.2626 17.3193 72.863 16.4221C71.6731 18.6502 71.0646 21.1854 71.1098 23.7116L71.3056 24.4673C72.8811 22.3506 76.2791 22.7872 78.3727 21.1793H78.3757Z" fill="white"/>
								<path d="M110.417 21.1793C112.511 22.7872 115.909 22.3506 117.485 24.4673L117.68 23.7116C117.726 21.1854 117.117 18.6502 115.927 16.4221C115.527 17.3193 115.128 18.2166 114.728 19.1138C112.062 16.7683 109.89 14.5733 109.938 11.0234C109.264 12.7216 108.583 14.4559 108.483 16.2805C108.384 18.1052 108.968 20.0653 110.414 21.1793H110.417Z" fill="white"/>
								<path d="M109.367 65.4426C109.909 64.9638 110.37 64.4158 110.75 63.8046C111.485 62.6093 111.858 61.1971 111.858 59.6043C111.858 58.0115 111.485 56.6295 110.75 55.4342C110.379 54.832 109.928 54.293 109.4 53.8203C109.458 53.9408 109.515 54.0642 109.566 54.1876C110.214 55.7022 110.545 57.5238 110.545 59.6043C110.545 61.6849 110.217 63.4794 109.569 64.9999C109.506 65.1505 109.436 65.298 109.367 65.4426Z" fill="white"/>
								<path d="M94.4616 89.9216C110.768 89.9216 124.035 76.6614 124.035 60.3631C124.035 44.0649 110.768 30.8047 94.4616 30.8047C78.1554 30.8047 64.8887 44.0649 64.8887 60.3631C64.8887 76.6614 78.1554 89.9216 94.4616 89.9216ZM100.52 77.5737H88.4519V75.3968H88.738C89.3224 75.3968 89.8677 75.1348 90.2322 74.6802C90.5967 74.2255 90.7353 73.6384 90.6118 73.0663L86.1112 52.5949H88.4097L92.7988 72.5635C92.9976 73.4728 92.8952 74.4062 92.5186 75.2312H94.3803L89.4098 52.5949H91.7956L96.2932 74.0719L96.8475 71.2326H98.7875L98.3838 73.0633C98.2573 73.6324 98.3959 74.2195 98.7634 74.6771C99.1279 75.1318 99.6731 75.3937 100.258 75.3937H100.514V77.5707L100.52 77.5737ZM112.741 54.2088C113.708 55.7775 114.199 57.5931 114.199 59.6044C114.199 61.6157 113.708 63.4644 112.741 65.0331C111.774 66.5988 110.403 67.8333 108.668 68.7034C106.927 69.5736 104.903 70.0132 102.646 70.0132H96.495L96.0643 67.8363H101.354C102.788 67.8363 104.035 67.5171 105.068 66.8908C106.102 66.2646 106.894 65.3191 107.421 64.0846C107.945 62.8562 108.21 61.3477 108.21 59.6044C108.21 57.861 107.945 56.3285 107.421 55.109C106.894 53.8836 106.102 52.9442 105.068 52.3179C104.83 52.1734 104.574 52.0469 104.291 51.9295L104.839 49.4334C106.011 49.6321 107.593 49.9814 108.665 50.5203C110.4 51.3995 111.771 52.6401 112.738 54.2057L112.741 54.2088ZM97.9079 43.1556H107.051V45.3325H106.222C105.216 45.3325 104.33 46.0461 104.116 47.0246L99.8117 66.6108H97.7602L101.42 47.8978C101.544 47.2625 101.381 46.6121 100.968 46.1123C100.556 45.6125 99.9503 45.3265 99.3026 45.3265H97.9079V43.1496V43.1556ZM81.9239 43.1556H93.9917V45.3325H92.9916C92.3439 45.3325 91.7354 45.6185 91.3257 46.1183C90.913 46.6182 90.7503 47.2715 90.8769 47.9068L90.8889 47.9761H88.4278C88.3344 47.118 88.488 46.2599 88.8676 45.4951H86.7167C86.8794 45.8173 87.0029 46.1635 87.0812 46.5248L87.4005 47.9761H85.102L84.8942 47.0277C84.6803 46.0461 83.7916 45.3355 82.7885 45.3355H81.93V43.1586L81.9239 43.1556ZM75.9081 67.8363H76.7245C77.9144 67.8363 78.8814 66.8698 78.8814 65.6804V53.5313C78.8814 52.342 77.9144 51.3755 76.7245 51.3755H75.9081V49.1985H99.9171L99.4924 51.3755H84.2194V67.8393H88.2109L88.6898 70.0162H75.9081V67.8393V67.8363Z" fill="white"/>
								<path d="M81.1017 53.4084V65.8015C81.1017 66.5331 80.933 67.2227 80.6348 67.8369H82.0385V51.373H80.6348C80.933 51.9873 81.1017 52.6768 81.1017 53.4084Z" fill="white"/>
								<path d="M31.4707 154.428V147.786H32.5973V154.428H31.4707Z" fill="white"/>
								<path d="M38.742 149.776H39.8716V154.422H38.9016L38.8263 153.82C38.4859 154.236 37.8653 154.525 37.2839 154.525C36.1663 154.525 35.4434 153.79 35.4434 152.525V149.776H36.579V152.327C36.579 153.067 36.9616 153.48 37.5942 153.48C38.2268 153.48 38.742 152.983 38.742 152.354V149.779V149.776Z" fill="white"/>
								<path d="M42.3477 154.428L44.0256 152.047L42.429 149.776H43.7786L44.7365 151.324L45.7065 149.776H47.038L45.4685 152.059L47.1223 154.425H45.7969L44.7365 152.781L43.6761 154.425H42.3507L42.3477 154.428Z" fill="white"/>
								<path d="M52.533 149.776H53.6626V154.422H52.6926L52.6173 153.82C52.2769 154.236 51.6564 154.525 51.075 154.525C49.9574 154.525 49.2344 153.79 49.2344 152.525V149.776H50.3701V152.327C50.3701 153.067 50.7526 153.48 51.3852 153.48C52.0179 153.48 52.533 152.983 52.533 152.354V149.779V149.776Z" fill="white"/>
								<path d="M60.0199 150.048L59.5198 150.969C59.2939 150.81 59.0499 150.725 58.8089 150.725C58.2998 150.728 57.8148 151.216 57.7937 151.993V154.426H56.6641V149.78H57.6341L57.7154 150.406C57.9684 149.964 58.4022 149.684 58.9475 149.684C59.3029 149.684 59.6765 149.807 60.0199 150.048Z" fill="white"/>
								<path d="M62.9503 156L63.607 154.416L61.7363 149.773H62.9684L64.1674 153.098L65.3693 149.773H66.6195L64.1583 155.997H62.9503V156Z" fill="white"/>
								<path d="M72.6651 152.123C72.6651 150.774 73.7074 149.681 75.0901 149.681C75.786 149.681 76.3644 149.937 76.7831 150.325L76.2168 151.135C75.9155 150.873 75.5811 150.713 75.1474 150.713C74.4063 150.713 73.7857 151.313 73.7857 152.123C73.7857 152.932 74.4123 153.52 75.1474 153.52C75.5902 153.52 75.9246 153.357 76.2198 153.107L76.7831 153.914C76.3674 154.299 75.777 154.555 75.0931 154.555C73.6924 154.555 72.6621 153.456 72.6621 152.123H72.6651Z" fill="white"/>
								<path d="M83.7388 151.679V154.428H82.6031V151.878C82.6031 151.137 82.2206 150.725 81.5819 150.725C80.9433 150.725 80.4372 151.222 80.4372 151.851V154.425H79.3105V147.783H80.4372V150.279C80.7927 149.921 81.359 149.677 81.8952 149.677C83.0098 149.677 83.7358 150.412 83.7358 151.676L83.7388 151.679Z" fill="white"/>
								<path d="M90.135 149.78H91.1201V154.426H90.132L90.0507 153.881C89.7133 154.272 89.2403 154.537 88.6228 154.537C87.3395 154.537 86.2852 153.459 86.2852 152.108C86.2852 150.756 87.3455 149.678 88.6228 149.678C89.2524 149.678 89.7284 149.949 90.0658 150.343L90.138 149.78H90.135ZM90.0537 152.114C90.0537 151.328 89.4633 150.747 88.7192 150.747C87.9751 150.747 87.4058 151.328 87.4058 152.114C87.4058 152.899 87.9781 153.466 88.7192 153.466C89.4603 153.466 90.0537 152.902 90.0537 152.114Z" fill="white"/>
								<path d="M94.1172 154.428V147.786H95.2438V154.428H94.1172Z" fill="white"/>
								<path d="M99.0638 152.487C99.2144 153.155 99.7506 153.55 100.407 153.55C100.865 153.55 101.233 153.381 101.513 153.125L102.055 153.911C101.624 154.305 101.049 154.552 100.344 154.552C98.9614 154.552 97.9492 153.456 97.9492 152.122C97.9492 150.789 98.8981 149.684 100.224 149.684C101.682 149.684 102.516 150.695 102.516 152.092C102.516 152.222 102.513 152.336 102.489 152.487H99.0638ZM99.0729 151.626H101.423C101.284 151.017 100.877 150.662 100.266 150.662C99.6543 150.662 99.2235 151.017 99.0729 151.626Z" fill="white"/>
								<path d="M105.336 154.428V150.818H104.67V149.776H105.33V148.668L106.468 148.397V149.776H107.493V150.818H106.468V154.428H105.333H105.336Z" fill="white"/>
								<path d="M109.439 153.85L109.975 153.052C110.342 153.314 110.933 153.561 111.487 153.561C111.927 153.561 112.219 153.401 112.219 153.103C112.219 152.805 111.936 152.67 111.177 152.477C110.333 152.263 109.655 151.83 109.655 151.05C109.655 150.27 110.33 149.671 111.517 149.671C112.089 149.671 112.755 149.879 113.261 150.246L112.719 151.059C112.412 150.854 111.9 150.668 111.472 150.668C111.02 150.668 110.797 150.824 110.797 151.068C110.797 151.312 111.02 151.453 111.752 151.643C112.683 151.878 113.367 152.236 113.367 153.097C113.367 153.958 112.626 154.546 111.52 154.546C110.686 154.546 109.981 154.263 109.436 153.844L109.439 153.85Z" fill="white"/>
								<path d="M125.636 154.429H124.313L123.865 153.854C123.356 154.287 122.72 154.555 122.006 154.555C120.684 154.555 119.584 153.73 119.584 152.39C119.584 151.478 120.174 150.599 121.102 150.28L120.265 149.199V148.202H124.199V149.325H121.693L123.841 152.104C124 151.701 124.085 151.231 124.094 150.743H125.175C125.193 151.571 124.967 152.384 124.564 153.041L125.636 154.432V154.429ZM123.223 153.02L121.729 151.087C121.111 151.153 120.78 151.689 120.78 152.186C120.78 153.02 121.41 153.423 122.142 153.423C122.566 153.423 122.931 153.273 123.223 153.02Z" fill="white"/>
								<path d="M133.44 154.428L131.555 149.776H132.796L133.995 153.146L135.194 149.776H136.441L134.546 154.428H133.44Z" fill="white"/>
								<path d="M138.752 148.313C138.752 147.973 139.035 147.63 139.463 147.63C139.891 147.63 140.174 147.97 140.174 148.313C140.174 148.657 139.891 148.988 139.463 148.988C139.035 148.988 138.752 148.657 138.752 148.313ZM138.891 154.429V149.777H140.02V154.429H138.891Z" fill="white"/>
								<path d="M143.018 154.428V147.786H144.144V154.428H143.018Z" fill="white"/>
								<path d="M147.143 154.428V147.786H148.269V154.428H147.143Z" fill="white"/>
								<path d="M154.82 149.78H155.805V154.426H154.817L154.738 153.881C154.401 154.272 153.928 154.537 153.31 154.537C152.027 154.537 150.973 153.459 150.973 152.108C150.973 150.756 152.033 149.678 153.31 149.678C153.94 149.678 154.416 149.949 154.753 150.343L154.826 149.78H154.82ZM154.741 152.114C154.741 151.328 154.151 150.747 153.407 150.747C152.663 150.747 152.093 151.328 152.093 152.114C152.093 152.899 152.666 153.466 153.407 153.466C154.148 153.466 154.741 152.902 154.741 152.114Z" fill="white"/>
								<path d="M158.343 153.85L158.879 153.052C159.247 153.314 159.837 153.561 160.391 153.561C160.831 153.561 161.123 153.401 161.123 153.103C161.123 152.805 160.84 152.67 160.081 152.477C159.238 152.263 158.56 151.83 158.56 151.05C158.56 150.27 159.235 149.671 160.421 149.671C160.994 149.671 161.66 149.879 162.166 150.246L161.623 151.059C161.316 150.854 160.804 150.668 160.376 150.668C159.924 150.668 159.701 150.824 159.701 151.068C159.701 151.312 159.924 151.453 160.656 151.643C161.587 151.878 162.271 152.236 162.271 153.097C162.271 153.958 161.53 154.546 160.424 154.546C159.59 154.546 158.885 154.263 158.34 153.844L158.343 153.85Z" fill="white"/>
								</g>
							</svg>
						</a>
						<div class="footer__description">
							<p>Аренда горнолыжных кyрортов в&nbsp;Европе</p>
						</div>
					</div>
				</div>
				<div class="footer__column">
					<div class="footer__row footer__row_inner">
						<div class="footer__column">
							<ul class="footer__menu">
								{menu.map((item) => (
									<li><a href="" class="footer__menu-link" set:html={item}></a></li>
								))}
							</ul>
						</div>
						<div class="footer__column">
							<div class="footer__contacts">
								<a href="tel:+441993899420" class="footer__contacts-link">+44 (1993) 899-420</a>
								<a href="mailto:info@mydolcevilla.com" class="footer__contacts-link">info@mydolcevilla.com</a>
								<a href="javascript:" class="footer__contacts-link" data-modal-open="#modal_request">Оставить заявку</a>
								<div class="footer__contacts-address">
									Dolce Villa Sagl <br>
									Viale Stefano Franscini 30 <br>
									6900 Lugano, Switzerland
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__section footer__section_bottom anim anim_slideUp" data-animation>
			<div class="footer__row footer__row_bottom">
				<div class="footer__column">
					<div class="footer__social">
						<a href="" class="footer__social-link footer__social-link_vk" aria-label="ВКонтакте">
							<Icon class="footer__social-icon" name="vk"></Icon>
						</a>
						<a href="" class="footer__social-link footer__social-link_whatsapp" aria-label="Whatsapp">
							<svg class="footer__social-icon" width="33" height="32" viewBox="0 0 33 32" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.633832 15.8565C0.632867 18.6509 1.36632 21.3792 2.76053 23.7837L0.5 32L8.94643 29.7952C11.2737 31.0587 13.8937 31.7245 16.5602 31.7256H16.567C25.3478 31.7256 32.4963 24.6113 32.5 15.8688C32.5015 11.6315 30.8454 7.64747 27.8375 4.65039C24.8291 1.65331 20.829 0.00182888 16.567 0C7.7844 0 0.637506 7.11348 0.633832 15.8565ZM5.66349 23.3695L5.34819 22.8709C4.02237 20.7724 3.32263 18.3472 3.32359 15.8571C3.32649 8.59054 9.267 2.67822 16.5717 2.67822C20.1091 2.67959 23.4336 4.05248 25.9344 6.54338C28.4348 9.03445 29.8107 12.346 29.8097 15.8675C29.8065 23.1345 23.8659 29.0473 16.5667 29.0473H16.5615C14.1848 29.0459 11.854 28.4108 9.82126 27.21L9.33746 26.9245L4.32499 28.2328L5.66349 23.3695Z" />
								<path d="M5.66349 23.3695L5.34819 22.8709C4.02237 20.7724 3.32263 18.3472 3.32359 15.8571C3.32649 8.59054 9.267 2.67822 16.5717 2.67822C20.1091 2.67959 23.4336 4.05248 25.9344 6.54338C28.4348 9.03445 29.8107 12.346 29.8097 15.8675C29.8065 23.1345 23.8659 29.0473 16.5667 29.0473H16.5615C14.1848 29.0459 11.854 28.4108 9.82126 27.21L9.33746 26.9245L4.32499 28.2328L5.66349 23.3695Z" />
								<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5843 9.22678C12.286 8.56674 11.9722 8.55353 11.6885 8.54191C11.4563 8.53208 11.1908 8.53272 10.9255 8.53272C10.66 8.53272 10.2287 8.63192 9.86398 9.02853C9.49894 9.42516 8.47046 10.3839 8.47046 12.3338C8.47046 14.2839 9.89723 16.1682 10.096 16.4329C10.2951 16.6971 12.8502 20.8266 16.8964 22.4151C20.2595 23.7354 20.9438 23.4728 21.6737 23.4066C22.4037 23.3406 24.0292 22.4482 24.3608 21.5227C24.6926 20.5973 24.6926 19.8041 24.5932 19.6384C24.4937 19.4733 24.2281 19.3741 23.83 19.176C23.4318 18.9778 21.4746 18.0189 21.1097 17.8866C20.7447 17.7545 20.4793 17.6885 20.2138 18.0853C19.9484 18.4816 19.1859 19.3741 18.9536 19.6384C18.7214 19.9033 18.4891 19.9364 18.091 19.7381C17.6927 19.5392 16.4105 19.1211 14.8894 17.7711C13.7059 16.7206 12.907 15.4233 12.6746 15.0265C12.4424 14.6301 12.6498 14.4155 12.8494 14.2179C13.0283 14.0403 13.2477 13.7551 13.4468 13.5238C13.6454 13.2923 13.7117 13.1272 13.8444 12.8628C13.9773 12.5983 13.9108 12.3668 13.8113 12.1686C13.7117 11.9703 12.938 10.0104 12.584 9.22666" fill="#093C38"/>
							</svg>
						</a>
						<a href="" class="footer__social-link footer__social-link_telegram" aria-label="Telegram">
							<Icon class="footer__social-icon" name="telegram"></Icon>
						</a>
					</div>
				</div>
				<div class="footer__column">
					<div class="footer__row footer__row_bottom-info">
						<div class="footer__policy">
							<a href="" class="footer__policy-link">Политика конфиденциальности</a>
						</div>
						<div class="footer__dev">
							<a href="https://zendesign.ru/" class="footer__dev-link" target="_blank">Сделано в ДзенДизайн</a>
						</div>
						<div class="footer__association-logo">
							<img class="footer__association-logo-image lazy" data-src="img/iata-logo.png"  data-srcset="img/iata-logo@2x.png" width="94" height="60" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
